<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/main.css">
   <title>Express + HBS!</title>
</head>
<body>


   <h2 id="header">{{mensagem}}</h2>
   
   <!-- Or you can use a <span> element, with classes applied in the same way -->
  <span class="fa-solid fa-user"></span>

</body>
</html>